@import 'toggleBtn.css'; 
@import 'icons.css';
.my-header {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    transition: all 0.5s;
    overflow: hidden;  
}
.sm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
.sm-header h2 {
    font-family: fontA;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
}
.sm-header .erebtn {
    border: none;
    /* background: black; */
    /* font-size: 2rem; */ 
    display: block;
    outline: none;
}
.nav-menu {
   /*  background: #E5E5E5; */
    height: 0px;
    transform: translateY(-30%);
    transition: all 0.5s;
}
.showNav {
    transform: translateY(0%);
    animation: showNav 0.5s ease-in-out;
}
@keyframes showNav {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.nav-menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.nav-menu ul li {
    padding: 15px 20px;
}
.nav-menu ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-family: fontB;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.nav-icons {
    display: block;
}